.WrappedButton {
    margin-top: -7px;
    float: right;
}

.WrappedLink {
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
}

.WrappedLink:hover {
    color: white;
    text-decoration: none;
}
