.WrappedButton {
    float: right;
    display: inline-block;
}

.WrappedLink {
    height: 100%;
    color: white;
    text-decoration: none;
}

.WrappedLink:hover {
    color: white;
    text-decoration: none;
}
